.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.column {
  width: 48%;
  margin-top: 20px;
}
.card{
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 11px 21px -12px rgba(0,0,0,0.75);
    box-shadow: 12px 11px 21px -12px rgba(0,0,0,0.75);
    height: 200px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #7d7a7a;
    background-color: #f7f1e3;
}
.card img{
    padding: 5px;
    width: 200px;
    height: 100%;
    object-fit: fill;
}
.details{
    padding: 10px;
    width: 75%;
}
.text{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tooltip{
    display: none;
    background: #fff;
    z-index: 1000;
    padding: 10px;
    position: absolute;
    left: -10px;
    top: -10px;
    border-radius: 5px;
    border: 2px solid #7d7a7a;
    background-color: #e4ded0;
    width: 100%;
}
.tooltip img{
    height: 200px;
    width: 200px;
    object-fit: fill;
}
.card:hover .tooltip{
    display: block;
    transition: 0.3s;
}
@media screen and (max-width: 1024px) {
    .column {
      width: 100%;
    }
  }