.data-table-container{
    padding: 25px 20px;
    /* min-height: 80vh; */
}
.data-table{
    padding: 0;
    max-height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}
.btn {
    padding: 10px 20px;
    background-color: #05c46b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
.sendMessage{
    width: 100%;
    border: 2px solid #05c46b ;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
  }
.message-box{
    padding: 0 25px;
}